.UserContainer{
    background: rgb(235, 235, 235);
    width: 90%;
    margin:3% auto;
    padding: 10px;
    border-radius: 3px;
    border: solid 1px #c7c7c7;
    box-shadow:  0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}


.MuiPaper-elevation2-88 {
    box-shadow: none !important ;
}


.MuiTableCell-root-164 {
    display: table-cell;
    padding: 4px 56px 4px 24px;
    text-align: left;
    border-bottom: none !important;
    vertical-align: inherit ;
}


.MuiPaper-elevation2-18 {
    box-shadow: none !important
}