
  .addCategory-container{
    /* background-color: green; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


.addCategoryCard{
    /* height: 400px; */
    padding: 34px;
    width: 40%;
    background: #ffffff;
    box-shadow: 1px 0px 7px 1px #d4d4d4;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputType{
    padding: 6px;
width: 90%;
border: solid 1px #512da7;
height: 30px;
color:  #512da7;
outline: none
}



.signbtn{
    width: 94%;
    height: 45px;
    margin: auto;
    border: solid 1px #512da7;
    /* outline: none; */
    padding: 10px;
    margin: auto;
    text-align: center;
    background: #512da7;
    color: #fff;
    box-shadow: 0px 0px 5px #3a3a3a;
}

.signbtn:hover{
    background: #fff;
    color: #512da7;
    box-shadow: 0px 0px 5px #512da7;
    cursor: pointer;
} 


.addCategory-heading{
    color: #512da7;
}


.dicription-textarea{
    min-width: 90%;
    max-width: 90%;
    font-family: Arial, Helvetica, sans-serif !important
}


.fileContainer {
    overflow: hidden;
    position: relative;
    color: #686868;
    display: flex;
   align-items : center;
   font-size: 13.5px;
   justify-content: space-between;

    

}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 99px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    margin-top: 10px;
    color: gray
}




.dashboard-container{
    /* background-color: green; */
    width: 100%;
    height: 100vh;
}


.buttons{
background: rgb(255, 255, 255);
height: 30px;
border: none;
outline: none;
color: #512da7;
border-radius: 2px;
width: 110px;
transition: background, color 0.5s,

}

.buttons:hover{
background: #512da7;
color: #ffffff;
border: 1px #ffffff solid;
cursor: pointer

}

.buttons:active{
height: 29px;
width: 109px;

}